[submodule "plugins/webfontloader/repo"]
	path = plugins/webfontloader/repo
	url = git://github.com/typekit/webfontloader.git
[submodule "plugins/jquerytools/repo"]
	path = plugins/jquerytools/repo
	url = git://github.com/jquerytools/jquerytools.git
[submodule "plugins/colorbox/repo"]
	path = plugins/colorbox/repo
	url = git://github.com/jackmoore/colorbox.git
[submodule "router"]
	path = router
	url = git@github.com:secondstory/secondstoryjs-router.git
[submodule "model/html5store"]
	path = model
	url = git@github.com:secondstory/secondstoryjs-html5storage.git
[submodule "controller/state_machine"]
	path = controller/state_machine
	url = git@github.com:secondstory/secondstoryjs-statemachine.git
[submodule "plugins/smartTruncate"]
	path = plugins/smartTruncate
	url = git@github.com:secondstory/smartTruncate.git
[submodule "view/mustache"]
	path = view/mustache
	url = git@github.com:tdreyno/mustache-javascriptmvc.git
[submodule "data"]
	path = data
	url = git@github.com:secondstory/secondstoryjs-data.git
